# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# IDE
.history/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files (large)
engine/data/*.csv
engine/data/*/*.csv

# Env
.env
*.log
__MACOSX/
.DS_Store
